body {
  background: url('../images/swsith.jpeg');
  background-size: cover;
  color: white;
  width: 960px;
}

p {
  text-align: center;
}

img {
  width: 100%;
}

#status1,
#status2 {
  line-height: 1;
  /* font-size: 1rem; */
}
